{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}
<div>
    <h1>Backoffice du Nation Sounds</h1>

    <div><a href="http://localhost/nation_sounds/concerts.php" target="_blank">Accéder à l'application</a></div>
    
</div>
{% endblock %}
