{% extends 'base.html.twig' %}

{% block title %}Détail d'une question / réponse{% endblock %}

{% block body %}
    <h1>Détail d'une question / réponse :</h1>
    {{faq.question}}
    {{faq.answer}}
{% endblock %}